<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<div class="row container-fluid">
  <% @blogs.each do |blog| %>
    <div id="blogs" class="col-xs-4 container-fluid">
      <a class="btn btn-default blog-page" href="#" role="button">
        <h2><%= blog.title %></h2>
        <p><%= blog.description %></p>
      </a>
        <p>
          <%= link_to 'Show', blog %>
          <%= link_to 'Edit', edit_blog_path(blog) %>
          <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
    </div>
  <% end %>
</div>

<br>

<%= will_paginate @blogs %>

<div class="new">
<%= link_to 'New Blog', new_blog_path %>
</div>