<p id="notice"><%= notice %></p>

<h1>Blog Entries</h1>

<div class="row container-fluid entries">
    <% @entries.each do |entry| %>
    <div class="entry container-fluid"></div>
        <h2><%= entry.title %></h2>
        <p><%= entry.text %></p>
        <img src="<%= entry.image %>"></img><br>
        <img src="<%= entry.video %>"></img>
    </div>
        <p>
          <%= link_to 'Show', entry %>
          <%= link_to 'Edit', edit_entry_path(entry) %>
          <%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
    <% end %>

<br>

<%= will_paginate @entries %>
<%= link_to 'New Entry', new_entry_path %>
